body{
  background-color: white;
  margin: 0;
  padding: 0;
  h1{
    text-align: center;
  }
  #form_container{
    margin: 2% 0 0 0;
    text-align: center;
  }
  #input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: black 2px solid;
  }
  #box_container{
    overflow: scroll;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1% 5% 5% 5%;
    background-color: lightblue;
    padding: 2%;
    border-radius: 10px;
  }
  #box{
    margin: 10px;
    text-align: center;
    height: auto;
    min-height: 150px;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .countryname{
    text-decoration:underline;
  }
  footer{
    margin: 0;
    width: 100%;
    background-color: #add8e6;
    height: auto;
    min-height: 100px;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-top: 3px black solid;
  }
  #logo{
    padding: 3% 0 2% 10px;
    width: 70px;
    height: 70px;
    margin-left: 30% ;
  }
  ul{
    margin: 3% 10px 10px 10%;
  }
  #universty_web{
    display: flex;
    margin-left: 30%;
  }
  a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover{
    color: brown;
    text-decoration: underline;
  }
  li{
    list-style: none;
  }
  span{
    font-weight: bold;
  }
  #copyRight{
    margin-top: 20px;
    font-size: 80%;
  }
  #data_length{
    text-decoration: overline;
    color: brown;
  }
  
}
